---
title: Raising Butterflies
description: How to find and care for butterfly eggs and caterpillars
image: storage/official_logo_rbsite3_400w.jpg
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="https://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <meta name="Robots" content="index,follow" />

  <link rel="shortcut icon" href="https://www.raisingbutterflies.org/favicon.ico" type="image/x-icon" />

  <link id="primaryStylesheet" rel="stylesheet" type="text/css" href="/universal/styles/common.css" />

  <link id="slideShowStylesheet" rel="stylesheet" type="text/css"
    href="/universal/styles/squarespace-gallery-slideshow.css" />

  <!-- Google Web Fonts -->
  <script type="text/javascript">
    WebFontConfig = {};
    (function () {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <script type="text/javascript" src="/universal/yui/yahoo-dom-event/yahoo-dom-event.js"></script>
  <script type="text/javascript" src="/universal/yui/connection/connection_core-min.js"></script>
  <script type="text/javascript" src="/universal/yui/json/json-min.js"></script>
  <script type="text/javascript" src="/universal/yui/animation/animation-min.js"></script>
  <script type="text/javascript" src="/universal/yui/selector/selector.js"></script>
  <script type="text/javascript" src="/universal/yui/element/element.js"></script>
  <script type="text/javascript" src="/universal/scripts/global.js"></script>
  <script type="text/javascript" src="/universal/scripts/lightbox.js"></script>
  <script type="text/javascript" src="/universal/scripts/api.js"></script>
  <script type="text/javascript" src="/universal/scripts/base64.js"></script>
  <script type="text/javascript" src="/universal/scripts/census.js"></script>
  <script type="text/javascript" src="/universal/yui/get/get-min.js"></script>
  <script type="text/javascript" src="/universal/yui/dragdrop/dragdrop-min.js"></script>
  <script type="text/javascript" src="/universal/yui/connection/connection-min.js"></script>
  <script type="text/javascript" src="/universal/yui/element/element-min.js"></script>
  <script type="text/javascript" src="/universal/scripts/yui2-yui3-bridge.js"></script>
  <script type="text/javascript" src="/universal/scripts/squarespace-gallery-slideshow.js"></script>

  <script type="text/javascript">
    // <![CDATA[

    Squarespace.Constants.SS_AUTHKEY = encodeURIComponent("");
    Squarespace.Constants.WEBSITE_TITLE = "{{ title }}";

    Squarespace.Constants.CURRENT_MODULE_ID = "8208715";



    Squarespace.Constants.ADMINISTRATION_UI = false;



    Squarespace.Constants.CORE_APPLICATION_DOMAIN = "squarespace.com";
    Squarespace.Constants.CORE_V6_APPLICATION_DOMAIN = "squarespace.com";
    Squarespace.Constants.V5_FRONTSITE = "https://www.squarespace.com";
    Squarespace.Constants.WEBSITE_ID = "294699";







    // ]]>
  </script>

  <title>{{ title }}</title>
  <meta property="og:title" content="{{ title }}" />

  <meta name="author" content="Todd Stout">
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="rearing,butterflies,butterfly,eggs,caterpillars,larvae,how to raise butterflies,butterfly raising techniques,butterfly host plants,butterfly habitat,butterfly id,butterfly identification,handpairing,oviposition,caterpillar setups,larva to pupa,pupae,diapause" />

  <meta property="og:site_name" content="Raising Butterflies">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ global.imagesUrl }}/{{ image }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="/docs">

  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:title" content="{{ title }}">
  <meta property="twitter:description" content="{{ description }}">
  <meta property="twitter:image" content="{{ global.imagesUrl }}/{{ image }}">

  <script type="text/javascript" src="/universal/scripts/cookie-min.js"></script>
  <script type="text/javascript" src="/universal/scripts/eu-cookie-policy.js"></script>
</head>

<body id="modulePage8208715">

  <script type="text/javascript">
    YAHOO.util.Event.onDOMReady(function () {
      if (document.location.href.indexOf("SSLogoutOk=true") != -1) {
        new Squarespace.FixedPositionTip("Logout Successful", "You have been successfully logged out.", { xMargin: 15, yMargin: 15, icon: "{{ global.imagesUrl }}/universal/images/helptip-info.png", orientation: "upper-right", viewportFixed: true, autoHide: 1800 }).show();
      }
    });
  </script>

  <script type="text/javascript">
    YAHOO.util.Event.onDOMReady(function () { new Squarespace.Census.hit(); });
  </script>

  <script type="text/javascript">
    YAHOO.util.Event.addListener(document, "keyup", function (e) { if (!e) { e = event; } if (e.keyCode == 27) { document.location.href = "https://www.raisingbutterflies.org/login/"; } });
  </script>

  <div id="canvasWrapper">
    <div id="canvas">

      <div id="pageHeaderWrapper">
        <div id="pageHeader">

          <div id="navigationTop">
            <div id="navigationTop-sectionContent1556487" class="horizontalNavigationBar">
              <ul class="content-navigation">

                <li class="module   " id="navigationTop-moduleContentWrapper3056329">

                  <div id="navigationTop-moduleContent3056329">

                    <a id="navigationTop-moduleLink3056329" class=" " href="/getting_started/"><span>Basics
                        for Beginners</span></a>
                  </div>

                </li>

                <li class="module   " id="navigationTop-moduleContentWrapper3104092">
                  <div id="navigationTop-moduleContent3104092">
                    <a id="navigationTop-moduleLink3104092" class=" "
                      href="/raising-techniques/"><span>Techniques and Setups</span></a>
                  </div>
                </li>

                <li class="module   " id="navigationTop-moduleContentWrapper3101070">
                  <div id="navigationTop-moduleContent3101070">
                    <a id="navigationTop-moduleLink3101070" class=" " href="/raising_butterflies_301/"><span>Species
                        Specific</span></a>
                  </div>
                </li>

                <li class="module   " id="navigationTop-moduleContentWrapper19178967">

                  <div id="navigationTop-moduleContent19178967">

                    <a id="navigationTop-moduleLink19178967" class="offsite-link "
                      href="https://store.raisingbutterflies.org" onclick="this.target='new';"><span>Store</span></a>




                  </div>

                </li>


              </ul><br class="clearer" />
            </div>
          </div>

          <div id="bannerAreaWrapper">
            <div id="bannerArea">


              <div id="bannerWrapper">
                <a href="/"><img id="banner" src="{{ global.imagesUrl }}/storage/official_logo_rbsite3_400w.jpg"
                    alt="Raising Butterflies" title="Raising Butterflies" /></a>
              </div>



            </div>
          </div>

          <div id="navigationBottom">
            <div id="navigationBottom-sectionContent1556487" class="horizontalNavigationBar">
              <ul class="content-navigation">

                <li class="module   " id="navigationBottom-moduleContentWrapper3056329">
                  <div id="navigationBottom-moduleContent3056329">
                    <a id="navigationBottom-moduleLink3056329" class=" "
                      href="/getting_started/"><span>Basics for Beginners</span></a>
                  </div>
                </li>

                <li class="module   " id="navigationBottom-moduleContentWrapper3104092">
                  <div id="navigationBottom-moduleContent3104092">
                    <a id="navigationBottom-moduleLink3104092" class=" "
                      href="/raising-techniques/"><span>Techniques and Setups</span></a>
                  </div>
                </li>

                <li class="module   " id="navigationBottom-moduleContentWrapper3101070">
                  <div id="navigationBottom-moduleContent3101070">
                    <a id="navigationBottom-moduleLink3101070" class=" " href="/raising_butterflies_301/"><span>Species Specific</span></a>
                  </div>
                </li>

                <li class="module   " id="navigationBottom-moduleContentWrapper19178967">
                  <div id="navigationBottom-moduleContent19178967">
                    <a id="navigationBottom-moduleLink19178967" class="offsite-link "
                      href="https://store.raisingbutterflies.org" onclick="this.target='new';"><span>Store</span></a>
                  </div>
                </li>


              </ul><br class="clearer" />
            </div>
          </div>

        </div>
      </div>

      <div id="pageBodyWrapper">
        <div id="pageBody">

          <div id="sidebar1Wrapper" class="verticalNavigationBarWrapper">
            <div class="iw-vnb1">
              <div class="iw-vnb2">
                <div class="iw-vnb3">
                  <div class="iw-vnb4">
                    <div id="sidebar1" class="verticalNavigationBar">

                      <div id="sectionContent1556487" class="sectionWrapper promotedContainer ">
                        <div class="iw-s1">
                          <div class="iw-s2">
                            <div class="iw-s3">
                              <div class="iw-s4">
                                <div class="section">

                                  <div class="caption">Top</div>

                                  <ul class="content-navigation">
                                    <li class="module   " id="moduleContentWrapper3056329">

                                      <div id="moduleContent3056329">

                                        <a id="moduleLink3056329" class=" "
                                          href="/getting_started/"><span>Basics for Beginners</span></a>




                                      </div>

                                    </li>


                                    <li class="module   " id="moduleContentWrapper3104092">

                                      <div id="moduleContent3104092">

                                        <a id="moduleLink3104092" class=" "
                                          href="/raising-techniques/"><span>Techniques and Setups</span></a>




                                      </div>

                                    </li>


                                    <li class="module   " id="moduleContentWrapper3101070">

                                      <div id="moduleContent3101070">

                                        <a id="moduleLink3101070" class=" "
                                          href="/raising_butterflies_301/"><span>Species Specific</span></a>




                                      </div>

                                    </li>


                                    <li class="module   " id="moduleContentWrapper19178967">

                                      <div id="moduleContent19178967">

                                        <a id="moduleLink19178967" class="offsite-link "
                                          href="https://store.raisingbutterflies.org"
                                          onclick="this.target='new';"><span>Store</span></a>




                                      </div>

                                    </li>

                                  </ul>


                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div id="sectionContent2236293" class="sectionWrapper  ">
                        <div class="iw-s1">
                          <div class="iw-s2">
                            <div class="iw-s3">
                              <div class="iw-s4">
                                <div class="section">





                                  <ul class="content-navigation">
                                    <li class="module   " id="moduleContentWrapper4832494">

                                      <div id="moduleContent4832494">

                                        <a id="moduleLink4832494" class=" "
                                          href="/life-history-photo-gallery/"><span>Life History
                                            Photos</span></a>
                                      </div>

                                    </li>
                                    <li class="module   " id="moduleContentWrapper4639738">

                                      <div id="moduleContent4639738">

                                        <a id="moduleLink4639738" class=" "
                                          href="/video-library/"><span>How-To Videos</span></a>




                                      </div>

                                    </li>


                                    <li class="module   " id="moduleContentWrapper4993624">

                                      <div id="moduleContent4993624">

                                        <a id="moduleLink4993624" class=" "
                                          href="/faq/"><span>FAQ</span></a>




                                      </div>

                                    </li>


                                    <li class="module   " id="moduleContentWrapper6378738">

                                      <div id="moduleContent6378738">

                                        <a id="moduleLink6378738" class=" " href="/host-plants/"><span>Host
                                            Plants</span></a>




                                      </div>

                                    </li>

                                  </ul>





                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div id="sectionContent1556488" class="sectionWrapper  ">
                        <div class="iw-s1">
                          <div class="iw-s2">
                            <div class="iw-s3">
                              <div class="iw-s4">
                                <div class="section">





                                  <div class="content-passthrough">
                                    <div id="moduleContentWrapper4537240"
                                      class="widget-wrapper  widget-type-rss-syndicate">
                                      <div id="moduleContent4537240">



                                        <ul class="feed-list-inline">

                                          <li><a href="/journal/rss.xml" class="feed-link">Post RSS</a></li>

                                          <li><a href="/journal/rss-comments.xml" class="feed-link">Post Comments
                                              RSS</a></li>

                                        </ul>

                                      </div>
                                    </div>
                                  </div>





                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div id="sectionContent1556486" class="sectionWrapper  ">
                        <div class="iw-s1">
                          <div class="iw-s2">
                            <div class="iw-s3">
                              <div class="iw-s4">
                                <div class="section">





                                  <ul class="content-navigation">
                                    <li class="module   " id="moduleContentWrapper3113760">

                                      <div id="moduleContent3113760">

                                        <a id="moduleLink3113760" class=" "
                                          href="https://www.raisingbutterflies.org/login/"><span>Login</span></a>




                                      </div>

                                    </li>


                                    <li class="module   " id="moduleContentWrapper3017785">

                                      <div id="moduleContent3017785">

                                        <a id="moduleLink3017785" class=" "
                                          href="/journal/"><span>Post</span></a>




                                      </div>

                                    </li>


                                    <li class="module   " id="moduleContentWrapper3017786">

                                      <div id="moduleContent3017786">

                                        <a id="moduleLink3017786" class=" " href="/about-me/"><span>About
                                            Me</span></a>




                                      </div>

                                    </li>


                                    <li class="module   " id="moduleContentWrapper4142546">

                                      <div id="moduleContent4142546">

                                        <a id="moduleLink4142546" class=" " href="/"><span>Home</span></a>




                                      </div>

                                    </li>


                                    <li class="module   " id="moduleContentWrapper6497029">

                                      <div id="moduleContent6497029">

                                        <a id="moduleLink6497029" class=" "
                                          href="/partners/"><span>Partners</span></a>




                                      </div>

                                    </li>

                                  </ul>





                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>





                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="sidebar2Wrapper" class="verticalNavigationBarWrapper">
            <div class="iw-vnb1">
              <div class="iw-vnb2">
                <div class="iw-vnb3">
                  <div class="iw-vnb4">
                    <div id="sidebar2" class="verticalNavigationBar">

                      <div id="sectionContent1592019" class="sectionWrapper  ">
                        <div class="iw-s1">
                          <div class="iw-s2">
                            <div class="iw-s3">
                              <div class="iw-s4">
                                <div class="section">
                                  <div class="caption">Fun Butterflies to Raise</div>
                                  <ul class="content-navigation">
                                    <li class="module   " id="moduleContentWrapper4957334">
                                      <div id="moduleContent4957334">
                                        <a id="moduleLink4957334" class=" "
                                          href="/easy/eastern-black-swallowtail"><span>Eastern Black Swallowtail</span></a> 
                                      </div>
                                    </li>
                                    <li class="module   " id="moduleContentWrapper3934886">
                                      <div id="moduleContent3934886">
                                        <a id="moduleLink3934886" class=" "
                                          href="/easy/anise-swallowtail"><span>Anise Swallowtail</span></a>
                                      </div>
                                    </li>
                                    <li class="module   " id="moduleContentWrapper5583340">
                                      <div id="moduleContent5583340">
                                        <a id="moduleLink5583340" class=" "
                                          href="/easy/giant-swallowtail"><span>Giant Swallowtail</span></a>
                                      </div>
                                    </li>
                                    <li class="module   " id="moduleContentWrapper3112207">
                                      <div id="moduleContent3112207">
                                        <a id="moduleLink3112207" class=" " href="/easy/the-monarch"><span>Monarch</span></a>
                                      </div>
                                    </li>
                                    <li class="module   " id="moduleContentWrapper8204098">
                                      <div id="moduleContent8204098">
                                        <a id="moduleLink8204098" class=" " href="/easy/the-queen"><span>Queen</span></a>
                                      </div>
                                    </li>
                                    <li class="module  " id="moduleContentWrapper8208715">
                                      <div id="moduleContent8208715">
                                        <a id="moduleLink8208715" class=" " href="/easy/red-admiral"><span>Red Admiral</span></a>
                                      </div>
                                    </li>
                                    <li class="module   " id="moduleContentWrapper8246304">
                                      <div id="moduleContent8246304">
                                        <a id="moduleLink8246304" class=" " href="/easy/the-buckeye"><span>Buckeye</span></a>
                                      </div>
                                    </li>
                                    <li class="module   " id="moduleContentWrapper4121655">
                                      <div id="moduleContent4121655">
                                        <a id="moduleLink4121655" class=" " href="/easy/painted-lady"><span>Painted Lady</span></a>
                                      </div>
                                    </li>
                                    <li class="module   " id="moduleContentWrapper4946584">
                                      <div id="moduleContent4946584">
                                        <a id="moduleLink4946584" class=" " href="/easy/red-spotted-purple"><span>Red-Spotted Purple</span></a>
                                      </div>
                                    </li>
                                    <li class="module   " id="moduleContentWrapper8201340">
                                      <div id="moduleContent8201340">
                                        <a id="moduleLink8201340" class=" "
                                          href="/easy/lorquins-admiral"><span>Lorquin&#39;s Admiral</span></a>
                                      </div>
                                    </li>
                                    <li class="module   " id="moduleContentWrapper3988786">
                                      <div id="moduleContent3988786">
                                        <a id="moduleLink3988786" class=" "
                                          href="/easy/checkered-white"><span>Checkered White</span></a>
                                      </div>
                                    </li>
                                    <li class="module   " id="moduleContentWrapper4869650">
                                      <div id="moduleContent4869650">
                                        <a id="moduleLink4869650" class=" " href="/easy/cabbage-white"><span>Cabbage White</span></a>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div id="sectionContent1991442" class="sectionWrapper  ">
                        <div class="iw-s1">
                          <div class="iw-s2">
                            <div class="iw-s3">
                              <div class="iw-s4">
                                <div class="section">
                                  <div class="caption">Techniques for Obtaining Immatures</div>
                                  <ul class="content-navigation">
                                    <li class="module   " id="moduleContentWrapper3106919">
                                      <div id="moduleContent3106919">
                                        <a id="moduleLink3106919" class=" " href="/habitat/"><span>Butterfly
                                            Habitat</span></a>
                                      </div>
                                    </li>
                                    <li class="module   " id="moduleContentWrapper3108288">
                                      <div id="moduleContent3108288">
                                        <a id="moduleLink3108288" class=" "
                                          href="/butterfly-identification/"><span>Butterfly ID</span></a>
                                      </div>
                                    </li>
                                    <li class="module   " id="moduleContentWrapper4179141">
                                      <div id="moduleContent4179141">
                                        <a id="moduleLink4179141" class=" "
                                          href="/hostplant-identification/"><span>Host Plant ID</span></a>
                                      </div>
                                    </li>
                                    <li class="module   " id="moduleContentWrapper4125611">
                                      <div id="moduleContent4125611">
                                        <a id="moduleLink4125611" class=" "
                                          href="/female-oviposition2/"><span>Female Oviposition</span></a>
                                      </div>
                                    </li>
                                    <li class="module   " id="moduleContentWrapper3104106">
                                      <div id="moduleContent3104106">
                                        <a id="moduleLink3104106" class=" "
                                          href="/handpairing-techniques/"><span>Handpairing</span></a>
                                      </div>
                                    </li>
                                    <li class="module   " id="moduleContentWrapper4483047">
                                      <div id="moduleContent4483047">
                                        <a id="moduleLink4483047" class=" "
                                          href="/finding-immatures/"><span>Finding Caterpillars</span></a>
                                      </div>
                                    </li>
                                    <li class="module   " id="moduleContentWrapper5113850">
                                      <div id="moduleContent5113850">
                                        <a id="moduleLink5113850" class=" "
                                          href="/finding-eggs-in-the-field/"><span>Finding Eggs</span></a>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div id="sectionContent1991882" class="sectionWrapper  ">
                        <div class="iw-s1">
                          <div class="iw-s2">
                            <div class="iw-s3">
                              <div class="iw-s4">
                                <div class="section">
                                  <div class="caption">Techniques for Caring for Immatures</div>
                                  <ul class="content-navigation">
                                    <li class="module   " id="moduleContentWrapper4142853">
                                      <div id="moduleContent4142853">
                                        <a id="moduleLink4142853" class=" "
                                          href="/hatching-eggs/"><span>Hatching Eggs</span></a>
                                      </div>
                                    </li>
                                    <li class="module   " id="moduleContentWrapper4142856">
                                      <div id="moduleContent4142856">
                                        <a id="moduleLink4142856" class=" "
                                          href="/caterpillar-setups/"><span>Caterpillar Setups</span></a>
                                      </div>
                                    </li>
                                    <li class="module   " id="moduleContentWrapper4178879">
                                      <div id="moduleContent4178879">
                                        <a id="moduleLink4178879" class=" "
                                          href="/larva-to-pupa/"><span>Larva to Pupa</span></a>
                                      </div>
                                    </li>
                                    <li class="module   " id="moduleContentWrapper4142866">
                                      <div id="moduleContent4142866">
                                        <a id="moduleLink4142866" class=" " href="/pupae/"><span>Handling Pupae</span></a>
                                      </div>
                                    </li>
                                    <li class="module   " id="moduleContentWrapper4178908">
                                      <div id="moduleContent4178908">
                                        <a id="moduleLink4178908" class=" "
                                          href="/overwintering-techniques/"><span>Overwintering Tech.</span></a>
                                      </div>
                                    </li>
                                    <li class="module   " id="moduleContentWrapper4142883">
                                      <div id="moduleContent4142883">
                                        <a id="moduleLink4142883" class=" "
                                          href="/emerging-butterflies/"><span>Emerging Butterflies</span></a>
                                      </div>
                                    </li>
                                    <li class="module   " id="moduleContentWrapper5051771">
                                      <div id="moduleContent5051771">
                                        <a id="moduleLink5051771" class=" "
                                          href="/avoiding-diapause/"><span>Avoiding Diapause</span></a>
                                      </div>
                                    </li>
                                    <li class="module   " id="moduleContentWrapper4800739">
                                      <div id="moduleContent4800739">
                                        <a id="moduleLink4800739" class=" "
                                          href="/post-hibernation-strategies/"><span>Post Hiber.
                                            Strategies</span></a>
                                      </div>
                                    </li>
                                    <li class="module   " id="moduleContentWrapper5051773">
                                      <div id="moduleContent5051773">
                                        <a id="moduleLink5051773" class=" "
                                          href="/avoiding-disease/"><span>Disease Prevention</span></a>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="contentWrapper">

            <nav aria-label="Breadcrumb">
              <ul class="breadcrumbs">
                {# 1. Get the breadcrumb trail for the current page #}
                {% set navPages = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
                
                {# 2. Loop through parents #}
                {% for crumb in navPages %}
                  <li>
                    <a href="{{ crumb.url }}">{{ crumb.title }}</a>
                  </li>
                {% endfor %}

              </ul>
            </nav>

            <div id="content">
              {{ content | safe }}

<hr/>

<div id="FollowMe" style="float: left;"><span><a title="Facebook" rel="me" href="http://www.facebook.com/?sk=lf#!/pages/Raising-Butterflies/203904312967086?sk=wall" target="_blank"><img src="{{ global.imagesUrl }}/storage/facebook.png" border="0" alt="" /></a></span></div>

<span><a rel="me" href=" http://twitter.com/#!/RaisingBflies "title="Twitter" target="_blank"><img src="{{ global.imagesUrl }}/storage/twitter.png" alt="" border="0"/></a></span>

<span><a rel="me" href=" http://raising-butterflies.blogspot.com/"title="Blogspot" target="_blank"><img src="{{ global.imagesUrl }}/storage/bloggerbutton3.png" alt="" border="0"/></a></span>

<span><a rel="me" href=" http://pinterest.com/raisebutterflys/raising-butterflies/"title="Pinterest" target="_blank"><img src="{{ global.imagesUrl }}/storage/pinterest3.png" alt="" border="0"/></a></span>

            </div>
          </div> <!-- Content -->
        </div>
      </div> <!-- Page Body -->

      <div id="pageFooterWrapper">
        <div id="pageFooter">
          <!-- Creative Commons License -->
          <a href="https://creativecommons.org/licenses/by-nc-nd/3.0/">
            <img alt="Creative Commons License" border="0"
              src="https://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" /></a>
          <br />
          This work is licensed under a
          <a href="https://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons License</a>.
        </div>
      </div>
    </div>
  </div> <!-- Canvas -->

  <div class="clearer" id="bodyClearer"></div>

</body>
</html>