---
layout: page.njk
---

<h2><em>{{ title }}</em></h2>

<span class="full-image-float-right ssNonEditable">
  <img style="width: 300px;" src="{{ global.imagesUrl }}/{{ image }}" alt="butterfly male/female dorsal/ventral series" />
</span>

{{ content | safe }}
